*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

main{
    display: flex;
    justify-content: center;
    height: 100vh;
    
}

.main-content{
    display: flex;
    flex-direction: column;
    background-color: blue;
    width: 75vw;
}

#display-msg{
    display: flex;  
    flex-direction: column;
    padding: 1rem;
    gap: .5rem;
}
.msg{
    display: flex;
    flex-direction: column;
    width: 100%;
    float: right;
}

.recibied{
    display: flex;
    align-items: flex-start;
}
.sended{
    display: flex;
    align-items: flex-end;
}

.msg-content{
    display: flex;
    flex-direction: column;
    width: fit-content;
    background-color: white;
    padding: .5rem;
    border-radius: 10px;
}
.recibied .author{
    text-align: left;
}
.sended .author{
    text-align: right;
}
.send-message{
    position: fixed;
    bottom: 0;
    width: 75vw;
    display: flex;
    justify-content: center;
}
.send-message input{
    width: 100%;
    outline: 0;

}
.send-message input:focus{
    outline: 0;
}

#set-author{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    background: rgba(0,0,0, 0.5);
    height: 100%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}